<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344538994711-j10k1vi91cljkv39n3c07s6if6bght14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344538994711-j10k1vi91cljkv39n3c07s6if6bght14</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>344538994711-b58uhnapnved3dgs6ecet15f29tsfpnu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMZu2R7yrQDg4e3TJG-E5dtyuXmZRMWlk</string>
	<key>GCM_SENDER_ID</key>
	<string>344538994711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ApparelApp</string>
	<key>PROJECT_ID</key>
	<string>apparel-app-56384</string>
	<key>STORAGE_BUCKET</key>
	<string>apparel-app-56384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344538994711:ios:029455c23400408b3a2452</string>
</dict>
</plist>